<div class="auth-container">
    <div class="auth-box">
        <h1>Вход</h1>

        <form action="/auth/login" method="POST">
            <input type="text" name="email" placeholder="Электронная почта">
            <input type="password" name="password" placeholder="Пароль" >

            <button type="submit" class="btn">Вход</button>
        </form>

        <a href="/auth/register">Регистрация</a>
    </div>
</div>