<div class="auth-container">
    <div class="auth-box">
        <h1>Вход</h1>

        <form action="/auth/login" method="POST">
            <input type="text" name="email" placeholder="Электронная почта">

            <div class="password-box">
                <input type="password" id="password" name="password" placeholder="Пароль">
                <span onclick="togglePassword()" id="icon">👁</span>
            </div>

            <button type="submit" class="btn">Вход</button>
        </form>

        <a href="/auth/register">Регистрация</a>
    </div>
</div>

<style>
.password-box {
    position: relative;
}

.password-box input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
}

.password-box span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
</style>

<script>
function togglePassword() {
    const input = document.getElementById("password")
    const icon = document.getElementById("icon")

    if (input.type === "password") {
        input.type = "text"
        icon.textContent = "🙈"
    } else {
        input.type = "password"
        icon.textContent = "👁"
    }
}
</script>

<script>
    const params = new URLSearchParams(window.location.search)

    if (params.get("error") === "email") {
        alert("Email должен оканчиваться на @gmail.com")
    }

    if (params.get("error") === "password") {
        alert("Пароль должен содержать минимум 8 символов")
    }

    if (params.get("error") === "login") {
        alert("Неверный email или пароль")
    }

    if (params.get("success") === "1") {
        alert("Успешная регистрация!")
    }
</script>