<div class="auth-container" >
    <div class="auth-box">
        <h1>Регистрация</h1>

        <form action="/auth/register" method="POST">
            <input type="text" name="nameUser" placeholder="Имя пользователя">
            <input type="date" name="bornDay" placeholder="Дата рождения">
            <input type="text" name="email" placeholder="Электронная почта">
            <input type="password" name="password" placeholder="Пароль">

            <button type="submit" class="btn">Регистрация</button>
        </form>

        <a href="/auth/login">Вход</a>
    </div>
</div>