<section class="theme">
    <div class="container">

        <div class="theme-div">
            <h2 class="theme-title">компания сегодня</h2>
            <hr>
        </div>

        <p class="theme-text">
            Компания Climat Trading - активный участник рынка климатических услуг,<br>
            обеспечивающий оборудованием строительные объекты, производственные<br>
            и складские помещения, временные конструкции и сооружения на территории России.
            <br><br>

            Благодаря обширному парку оборудования компания Climat Trading успешно<br>
            занимается снабжением строительных объектов даже в самых отдаленных<br>
            уголках нашей страны, предоставляет услуги доставки, подключения,<br>
            456 настройки, а также обслуживания теплового оборудования 24 часа в сутки.
            <br><br>

            За время работы наши услуги стали востребованными не только в Москве,<br>
            Екатеринбурге, Твери, Рязани, Туле, Вологде, Калуге, Пензе, Уфе,<br>
            Североморске, Выборге, Южносахалинске, а также других городах и регионах России.
            <br><br>

            Этот перечень, надеемся, будет расширяться и дальше.
        </p>

        <div class="theme-div">
            <h2 class="theme-title">Climat trading в цифрах</h2>
            <hr>
        </div>


        <div class="theme-line">

            <div class="theme-box">
                <img src="img/scree1.png" alt="">
                <p class="theme-tex">начало <br> работы</p>
            </div>

            <div class="theme-box">
                <img src="img/scree2.png" alt="">
                <p class="theme-tex">наши <br> объекты</p>
            </div>

            <div class="theme-box">
                <img src="img/scree3.png" alt="">
                <p class="theme-tex">площадь наших <br> объектов</p>
            </div>

            <div class="theme-box">
                <img src="img/scree4.png" alt="">
                <p class="theme-tex">опыт <br> работы </p>
            </div>


            <div class="theme-box">
                <img src="img/scree5.png" alt="">
                <p class="theme-tex">суммарная мощность <br> оборудования</p>
            </div>



        </div>
        
    </div>
</section>

<div class="footer">
    <div class="container">
        <div class="footer-box">
            <div class="footer-div-1">

                <div class="footer-div-in-1">
                    <img src="./img/trading.png" alt="">
                    <p class="footer-name">Современные системы <br> обогрева</p>
                </div>


                <div class="footer-div-in-2">

                    <div class="footer-div-inin">
                        <i class='bx bx-phone'></i>
                        <p class="footer-name">+7 (499) 347-25-62</p>
                    </div>

                    <div class="footer-div-inin">
                        <i class='bx bx-envelope'></i>
                        <p class="footer-name">sales@climattrading.ru</p>
                    </div>
                </div>

                <div class="footer-div-in-2">
                    <div class="footer-div-inin">
                        <i class='bx bx-phone'></i>
                        <p class="footer-name">+7 (499) 347-25-62</p>
                    </div>

                    <div class="footer-div-inin">
                        <i class='bx bx-time'></i>
                        <p class="footer-name">24/7</p>
                    </div>
                </div>


                <div class="footer-div-in-3">

                    <button class="footer-btn">заказать обогрев</button>
                </div>
            </div>


            <div class="footer-div-d">
                <li class="header-item"><a href="/" class="header-href">ОСНОВНОЙ</a></li>
                <li class="header-item"><a href="/add" class="header-href">ДОБАВИТЬ ОБЪЕКТ</a></li>
                <li class="header-item"><a href="/video" class="header-href">ВИДЕО</a></li>
                <li class="header-item"><a href="/object" class="header-href">ОБЪЕКТЫ</a></li>
                <li class="header-item"><a href="/about" class="header-href">О НАС</a></li>
                <li class="header-item"><a href="/contact" class="header-href">КОНТАКТЫ</a></li>
            </div>

            <div class="footer-div-5">
                © climat-trading.ru Политика конфиденциальности <br>
                Заполняя любую форму обратной связи на нашем сайте,
                вы соглашаетесь на обработку ваших персональных <br>
                данных. Вся информация, размещенная на сайте, носит
                ознакомительный характер и не является публичной
                офертой, определяемой положением
            </div>
        </div>
    </div>
</div>