<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> navbar}}

    {{{body}}}

</body>
</html>

<script>
    const params = new URLSearchParams(window.location.search)

    if (params.get("error") === "missing") {
        alert("Hamma malumotlarni to‘liq kiriting")
    }

    if (params.get("error") === "server") {
        alert("Server xatolik")
    }

    if (params.get("error") === "notfound") {
        alert("Topilmadi")
    }

    if (params.get("error") === "id") {
        alert("ID noto‘g‘ri")
    }

    if (params.get("success") === "added") {
        alert("Muvaffaqiyatli qo‘shildi")
    }

    if (params.get("success") === "updated") {
        alert("Yangilandi")
    }

    if (params.get("success") === "deleted") {
        alert("O‘chirildi")
    }
</script>